

input[type="color"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .color::before {
    color: #535353;
    /* margin-right: 9px; */
  
    font-size: 26px;
    content: "🎨"
    /* 🔘
    🎨 🌈*/
  }
  
  .mirror {
    display: inline-block;
    font-size: 30px;
  
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  li {
    display: flex;
    background-color: inherit !important;
}

.options {
  display: flex;
}
label{
  display: flex;
  align-items: center;
  margin: 5px;
}
